:root {

  /* Margins */
  --m-3: .75rem;
  --m-4: 1rem;
  --m-5: 1.5rem;
  --m-6: 3rem;

  /* Permalink */
  --Permalink-size: 0.75rem;
  --Permalink-spacing: 0.5rem;

  /* Fonts */
  --font-body: 'Lora', Georgia, serif;
  --font-sans: 'Lato', sans-serif;
  --font-mono: 'JuliaMono', monospace;

  /* Sidebar Width */
  --sidebar-width: 280px;

  /* Motion */
  --t-fast: 150ms;
  --t-normal: 250ms;
  --t-slow: 350ms;
}


/* ==========================================================================
ROOT : Light Theme
========================================================================== */
:root,
:root[data-theme="light"] {

  /* Sidebar */
  --sidebar-bg: #dddddd;
  --color-border: #3b3b3b;

  /* Page Color */
  --bg-color: #ffffff;

  /* Math */
  --math-color-bg: #e6e2df;
  --math-color-text: #050505;

  /* Code Color */
  --color-code-bg: #f2f0ea;
  --color-code-text: #a3320d;

  /* HEADINGS */
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor,
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor:hover,
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor:visited {
    color: #000000
  }
}


/* ==========================================================================
ROOT : Dark Theme
========================================================================== */
:root[data-theme="dark"] {

  /* Page Color */
  --bg-color: #6c6b6e;

  /* Math */
  --math-color-bg: #222221;
  --math-color-text: #f3f2f0;

  /* Code */
  --color-code-bg: #292926;
  --color-code-text: #e8e6e0;

  /* HEADINGS */
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor,
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor:hover,
  :is(h1, h2, h3, h4, h5, h6) .Heading_Anchor:visited {
    color: #5e5c5c
  }
}


@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto
  }
}

/* Class/ID: `html font` — Purpose: Base html font */
html {
  background-color: var(--bg-color);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: auto;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%
}

/* Class/ID: `html box-sizing` — Purpose: Set box-sizing model */
html {
  box-sizing: border-box
}

/* Class/ID: Minireset base */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

html {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Lato Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

/* Class/ID: `body` — Purpose: Body text color and line-height */
body {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5
}

@media screen and (min-width: 769px),
print {
  .field-body {
    display: flex;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1
  }

  .field-body .field {
    margin-bottom: 0
  }

  .field-body>.field {
    flex-shrink: 1
  }

  .field-body>.field:not(.is-narrow) {
    flex-grow: 1
  }

  .field-body>.field:not(:last-child) {
    margin-right: .75rem
  }
}

/* Class/ID: `#Page .Main>article` — Purpose: Main article overflow-wrap */
#Page .Main>article {
  overflow-wrap: break-word
}

/* Class/ID: `#Page .Main>article h1, h2, h3, h4, h5, h6` — Purpose: Article heading scroll margin */
#Page .Main>article h1,
#Page .Main>article h2,
#Page .Main>article h3,
#Page .Main>article h4,
#Page .Main>article h5,
#Page .Main>article h6 {
  scroll-margin-top: 4.5rem
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
} */

/* Headings Permalink */
:is(h1, h2, h3, h4, h5, h6) .Heading_Anchor_Permalink {
  visibility: hidden;
  vertical-align: middle;
  margin-left: var(--Permalink-spacing);
  font-size: var(--Permalink-size)
}

:is(h1, h2, h3, h4, h5, h6) .Heading_Anchor_Permalink::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f0c1"
}

:is(h1, h2, h3, h4, h5, h6):hover .Heading_Anchor_Permalink {
  visibility: visible
}