/* Class/ID: `.katex .katex-mathml` — Purpose: MathML positioning */
.katex .katex-mathml {
  top: 0;
  right: 0
}

/* Class/ID: `.katex-display, mjx-container, .MathJax_Display` — Purpose: Math display margin */
.katex-display,
mjx-container,
.MathJax_Display {
  margin: 0.5em 0 !important
}

/* Class/ID: `#Page .Main>article .Math` — Purpose: Math overflow */
#Page .Main>article .Math {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--math-color-bg);
  color: var(--math-color-text);
}